.post h1 {
    margin-bottom: 0.8rem;
}

.post h2 {
    margin-bottom: 0.5rem;
}

.post h3 {
    margin-bottom: 0.5rem;
}

.post h4 {
    margin-bottom: 0.5rem;
}

.post h5 {
    margin-bottom: 0.5rem;
}
.post h6 {
    margin-bottom: 0.5rem;
}

.post p {
    margin-bottom: 1.25rem;
    line-height: 1.6;
}

.post ul {
    margin: 0 2rem 2rem 2rem;
}

.post ol {
    margin: 0 2rem 2rem 2rem;
}

.post a {
    color: #ff895f;
    cursor: pointer;
    text-decoration: underline;
}

.post a:hover {
    background-color: #ff895f;
    color: #ffffff;
}

.post img {
    margin-bottom: 1rem;
    max-width: 660px;
}

.post blockquote {
    border-left: 0.25rem solid #ff895f;
}

.post blockquote p {
    font-style: italic;
    padding-left: 1.25rem;
};

.post hr {
    margin: 2rem 0.1rem;
    border: 0;
    height: 1px;
    background: linear-gradient(90deg, #fff, #ff895f, #fff);
}

.post-meta {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
}

.post-meta img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    margin-bottom: 0;
}

.post-meta div {
    display: flex;
    flex-direction: column;
}

.post-meta p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.post-meta p:nth-child(2) {
    color: #9e9e9e;
}
