/* 
    For styles related to the hero

    Currently we have to use a lot of overrides, as we have a hefty 2000 line CSS
    imported from the main application that we haven't taken the time to decouple.

*/

.blog-hero {
    margin: 3em auto 4em auto;
    background-color: #f6f9f9;
    border-radius: 0.2em;
    padding: 2em;
    width: fit-content;
    font-size: 20px;
}

.blog-hero p,
.blog-hero .typography__link {
    font-size: 20px;
}


.blog-hero p {
    margin-bottom: 1em;
    max-width: 55ch;
    margin: 0 auto 1em auto;
    opacity: 0.9;
    line-height: 1.25;
}

.blog-hero p.blog-hero__last-paragraph {
    margin-bottom: 0;
}

@media screen and (max-width: 45em) {
    .blog-hero {
        margin: 1em auto 2.5em auto;
        padding: 2em 1em;
    }
}